<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Manage Inventory Item</h4>
                        <p class="card-category">here you can manage an inventory item</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <input class="ng-hide" id="input-file-id" multiple type="file" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>